output/

# YOLOR repository should not be tracked by Git.
yolor/

# Consider the database file just in case that it gets accidentally saved here.
*.sqlite
*.sqlite3

draft/

# Vim temporary files
*.swp
*~
