[submodule "yolor"]
	path = yolor
	url = https://github.com/WongKinYiu/yolor.git
[submodule "contrib/python-based-yolo-dataset-tools"]
	path = contrib/python-based-yolo-dataset-tools
	url = https://github.com/zEuS0390/python-based-yolo-dataset-tools.git
