dlib/

output/

# Consider the database file just in case that it gets accidentally saved here.
*.sqlite
*.sqlite3

draft/

# Vim temporary files
*.swp
*~

# Mobile application binary files
*.apk

# Executable files
*.exe

# Archive files
*.rar

.env

mosquitto.conf

passwd_file
