[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
requests = "*"
paho-mqtt = "*"
sqlalchemy = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3"
