pdoc3
openpyxl
paramiko
gdown
paho-mqtt
sqlalchemy
faker
Cython
matplotlib
numpy
opencv-python
Pillow
PyYAML
scipy
tensorboard
torch==1.12.1
torchvision==0.13.1
tqdm
seaborn
pandas
thop
pycocotools
scikit-learn==1.0.2
face_recognition
